### Libraries and Data Frame

In [1]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('aluguel.csv', sep =';')

### Exploring data

In [18]:
df.shape

(32960, 9)

In [21]:
# Checking if there are null values on the DF:
#df.info()
pd.isnull(df).any()

Tipo          False
Bairro        False
Quartos       False
Vagas         False
Suites        False
Area          False
Valor          True
Condominio     True
IPTU           True
dtype: bool

In [32]:
# Filtering a data frame that has a null value in any of its cells
df.isna().any(axis = 0) # It shows acording the columns
df.isna().any(axis = 1) # It shows by rows

Tipo          False
Bairro        False
Quartos       False
Vagas         False
Suites        False
Area          False
Valor          True
Condominio     True
IPTU           True
dtype: bool

In [37]:
# Then we can apply it as a mask/filter in our original dataframe
df1 = df[df.isna().any(axis = 1)]

In [35]:
# Lets see which records have null values on the 'Valor' columns
df[df['Valor'].isna()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
76,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
2186,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
2456,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2646,Loja/Salão,Barra da Tijuca,0,2,0,80,NaN,NaN,NaN
2941,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2973,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
6598,Loja/Salão,Andaraí,0,0,0,326,NaN,NaN,1140.0
7302,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
12683,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
13229,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
13525,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0
13579,Conjunto Comercial/Sala,Botafogo,0,3,0,200,NaN,10.0,NaN
20948,Conjunto Comercial/Sala,Freguesia (Jacarepaguá),0,1,0,24,NaN,500.0,74.0
21822,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,77,NaN,3600.0,1390.0
23056,Conjunto Comercial/Sala,Botafogo,0,0,0,900,NaN,10.0,NaN
24805,Conjunto Comercial/Sala,Botafogo,0,0,0,500,NaN,10.0,NaN
29166,Conjunto Comercial/Sala,Botafogo,0,1,0,50,NaN,10.0,NaN

### Handling Data

In [47]:
# Once we Know wich columns have missing values (Valor, Condominio, IPTU)  , lets take a look at them:
df[df.Condominio.isna()].shape

(4093, 9)

In [48]:
df[df.IPTU.isnull()].shape

(10237, 9)

#### At this point we've decided to substitute null values by the overall average, but it can be assigned according the needs and the business rules

In [54]:
df = df.fillna({'Condominio': df.Condominio.mean(), 'IPTU':df.IPTU.mean()})

In [55]:
df.IPTU.isna().any()

False

In [56]:
df.Condominio.isna().any()

False

In [62]:
# Now lets handle 'Valor' column:
df[df.Valor.isna()].shape

(17, 9)

In [64]:
df[df.Valor.isna()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
76,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.000000,68.000000
2186,Apartamento,Leme,2,0,0,75,NaN,878.000000,2364.409585
2456,Casa,Campo Grande,3,4,3,363,NaN,2388.062424,2364.409585
2646,Loja/Salão,Barra da Tijuca,0,2,0,80,NaN,2388.062424,2364.409585
2941,Apartamento,Botafogo,2,0,0,95,NaN,1010.000000,170.000000
2973,Apartamento,Copacabana,2,0,0,72,NaN,850.000000,2364.409585
6598,Loja/Salão,Andaraí,0,0,0,326,NaN,2388.062424,1140.000000
7302,Casa,Campo Grande,3,2,1,100,NaN,2388.062424,2364.409585
12683,Apartamento,Leme,2,0,1,75,NaN,878.000000,2364.409585
13229,Apartamento,Glória,3,0,1,135,NaN,910.000000,228.000000
13525,Apartamento,Gávea,3,1,1,105,NaN,880.000000,221.000000
13579,Conjunto Comercial/Sala,Botafogo,0,3,0,200,NaN,10.000000,2364.409585
20948,Conjunto Comercial/Sala,Freguesia (Jacarepaguá),0,1,0,24,NaN,500.000000,74.000000
21822,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,77,NaN,3600.000000,1390.000000
23056,Conjunto Comercial/Sala,Botafogo,0,0,0,900,NaN,10.000000,2364.409585
24805,Conjunto Comercial/Sala,Botafogo,0,0,0,500,NaN,10.000000,2364.409585
29166,Conjunto Comercial/Sala,Botafogo,0,1,0,50,NaN,10.000000,2364.409585

In [65]:
# To 'Valor' we've decided to delete rows with null values:

df = df.dropna()

In [66]:
df.isna().any()

Tipo          False
Bairro        False
Quartos       False
Vagas         False
Suites        False
Area          False
Valor         False
Condominio    False
IPTU          False
dtype: bool

Saving Data Frame:

In [67]:
df.to_csv(r'C:\Users\JOÃO PAULO FERNANDES\Documents\PROJECTS\Python_Studies-main\Rents\aluguel_ETL.csv')

## Outliers